[Desktop Entry]
Name=Ultimaker Cura
Type=Application
Exec={{ cura.dir }}/{{ role_name }} %U
TryExec={{ cura.dir }}/{{ role_name }}
GenericName=3D printer slicer
Comment=3D printing slicing software
Categories=Graphics;
Keywords=slicer;3D printer;
Icon={{ desktop_icon.dest }}
StartupNotify=true
Terminal=false
Version=1.1
MimeType=
